<div class="staffs  dashboard">
  <p style="color: green"><%= notice %></p>

  <h1>Staffs</h1>
  <%= link_to "New staff", new_staff_path %>

  <div class="staff_card_container">
    <% @staffs.each do |staff| %>
      <div class="staff_card"> 
        <div class="photo_cont">
          <%= image_tag staff.photo, class: 'staff_photo' %>
        </div>
        <div class="staff_details">
          <div class="staff_fullname_desc">
            <span class="staff_fullname"><%= staff.title %> <%= staff.firstname %> <%= staff.lastname %></span>
            <%= staff.designation %>
          </div>
          <div class="staff_email_phone">
            <i class="fas fa-envelope"></i> <%= staff.email %><br>
            <i class="fas fa-phone"></i> <%= staff.phone %>
          </div>
        </div>
      </div>
      <div , class="view_staff">
        <%= link_to "Show this staff", staff %>
        <i class="fas fa-edit"><%= link_to "Edit", edit_staff_path(staff) %></i>
        <i class="fas fa-trash"><%= link_to "Terminate this Staff", staff_path(staff), method: :delete, data: { confirm: "Are you sure you want to delete this staff?" } %></i>
      </div>
      <% end %>
  </div>
</div>
