<div id="<%= dom_id assessment %>">
  <p>
    <strong>Type:</strong>
    <%= assessment.type %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= assessment.subject %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= assessment.class %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= assessment.term %>
  </p>

  <p>
    <strong>Academic session:</strong>
    <%= assessment.academic_session %>
  </p>

</div>
