<div id="<%= dom_id textbook %>">
  <p>
    <strong>Title:</strong>
    <%= textbook.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= textbook.description %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= textbook.level %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= textbook.publisher %>
  </p>

  <p>
    <strong>Year of publication:</strong>
    <%= textbook.year_of_publication %>
  </p>

  <p>
    <strong>Authur:</strong>
    <%= textbook.authur %>
  </p>

</div>
