<div id="<%= dom_id recruitment %>">
  <p>
    <strong>Firstname:</strong>
    <%= recruitment.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= recruitment.lastname %>
  </p>

  <p>
    <strong>Other names:</strong>
    <%= recruitment.other_names %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= recruitment.date_of_birth %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= recruitment.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= recruitment.state %>
  </p>

  <p>
    <strong>Lga:</strong>
    <%= recruitment.lga %>
  </p>

  <p>
    <strong>Qualification:</strong>
    <%= recruitment.qualification %>
  </p>

  <p>
    <strong>Prof certs:</strong>
    <%= recruitment.prof_certs %>
  </p>

  <p>
    <strong>Cover letter:</strong>
    <%= recruitment.cover_letter %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= recruitment.photo %>
  </p>

</div>
