<div id="<%= dom_id visitor %>">
  <p>
    <strong>Firstname:</strong>
    <%= visitor.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= visitor.lastname %>
  </p>

  <p>
    <strong>Other names:</strong>
    <%= visitor.other_names %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= visitor.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= visitor.email %>
  </p>

  <p>
    <strong>Enquiry:</strong>
    <%= visitor.enquiry %>
  </p>

</div>
