<div class="main">
  <table class="admission_table">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Students Name</th>
        <th>Grade Level</th>
        <th>Classroom</th>
        <th>Teacher</th>
        <th>Admission Number</th>
        <th>Registration Date</th>
        <th>Disabilities</th>
        <th>Disability Type</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td>
            <%= image_tag student.admission.photo, class: 'image_thumbnail' %>
          </td>
          <td><%= student.fullname %></td>
          <td><%= student.admission.grade_level %></td>
          <td><%= student.classroom.name %></td>
          <td><%= student.classroom.assign_teacher %></td>
          <td><%= student.admission_number %></td>
          <td><%= student.registration_date %></td>
          <td><%= student.disabilities %></td>
          <td><%= student.disability_type %></td>
          <td>
            <%= link_to student_path(student), class: 'btn btn-primary' do %>
              <i class="fas fa-eye"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>