<div id="<%= dom_id student %>">
  <p>
    <strong>Photo:</strong>
    <%= student.photo %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= student.title %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= student.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= student.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= student.phone %>
  </p>

  <p>
    <strong>Dateofbirth:</strong>
    <%= student.dateofbirth %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= student.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= student.state %>
  </p>

  <p>
    <strong>Lga:</strong>
    <%= student.lga %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= student.street %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= student.class %>
  </p>

  <p>
    <strong>Admission number:</strong>
    <%= student.admission_number %>
  </p>

  <p>
    <strong>Transcript:</strong>
    <%= student.transcript %>
  </p>

  <p>
    <strong>Fathers fullname:</strong>
    <%= student.fathers_fullname %>
  </p>

  <p>
    <strong>Mothers fullname:</strong>
    <%= student.mothers_fullname %>
  </p>

  <p>
    <strong>Admission date:</strong>
    <%= student.admission_date %>
  </p>

  <p>
    <strong>Disabilities:</strong>
    <%= student.disabilities %>
  </p>

  <p>
    <strong>Disability type:</strong>
    <%= student.disability_type %>
  </p>

</div>
