<div id="<%= dom_id admitted_students %>">
  <p>
    <strong>Photo:</strong>
    <%= admitted_students.photo %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= admitted_students.title %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= admitted_students.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= admitted_students.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admitted_students.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= admitted_students.phone %>
  </p>

  <p>
    <strong>Dateofbirth:</strong>
    <%= admitted_students.dateofbirth %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= admitted_students.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= admitted_students.state %>
  </p>

  <p>
    <strong>Lga:</strong>
    <%= admitted_students.lga %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= admitted_students.street %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= admitted_students.class %>
  </p>

  <p>
    <strong>Admission number:</strong>
    <%= admitted_students.admission_number %>
  </p>

  <p>
    <strong>Transcript:</strong>
    <%= admitted_students.transcript %>
  </p>

  <p>
    <strong>Fathers fullname:</strong>
    <%= admitted_students.fathers_fullname %>
  </p>

  <p>
    <strong>Mothers fullname:</strong>
    <%= admitted_students.mothers_fullname %>
  </p>

  <p>
    <strong>Admission date:</strong>
    <%= admitted_students.admission_date %>
  </p>

  <p>
    <strong>Disabilities:</strong>
    <%= admitted_students.disabilities %>
  </p>

  <p>
    <strong>Disability type:</strong>
    <%= admitted_students.disability_type %>
  </p>

</div>


