<p style="color: green"><%= notice %></p>

<h1>Departments</h1>

<div id="departments">
  <% @departments.each do |department| %>
    <%= render department %>
    <%= link_to "View department", department %>
    <%= link_to "Edit this department", edit_department_path(department) %> |
    <%= button_to "Destroy this department", @department, method: :delete %>
<% end %>
</div>

<%= link_to "New department", new_department_path %>
