<div id="<%= dom_id result %>">
  <p>
    <strong>Firstname:</strong>
    <%= result.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= result.lastname %>
  </p>

  <p>
    <strong>Other names:</strong>
    <%= result.other_names %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= result.photo %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= result.type %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= result.class %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= result.subject %>
  </p>

  <p>
    <strong>Ca:</strong>
    <%= result.ca %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= result.project %>
  </p>

  <p>
    <strong>Homework:</strong>
    <%= result.homework %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= result.total %>
  </p>

</div>
