<p style="color: green"><%= notice %></p>

<%= render @subjectst %>

<div>
  <%= link_to "Edit this subjectst", edit_subjectst_path(@subjectst) %> |
  <%= link_to "Back to subjectsts", subjectsts_path %>

  <%= button_to "Destroy this subjectst", @subjectst, method: :delete %>
</div>
