<p style="color: green"><%= notice %></p>

<h1>Manage schools</h1>

<div id="manage_schools">
<% @manage_schools.each do |manage_school| %>
  <div id="manage_schools" style="background-image: url('<%= rails_blob_path(manage_school.school_photo) %>');">
  <%= render manage_school %>
  <%= link_to "New manage school", new_manage_school_path %>
<%= link_to "Create New Departments", new_department_path %>

  <p>
    <%= link_to "View school", manage_school %>
  </p>
</div>
<% end %>
</div>
