<div id="<%= dom_id correspondence %>">
  <p>
    <strong>Firstname:</strong>
    <%= correspondence.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= correspondence.lastname %>
  </p>

  <p>
    <strong>Other names:</strong>
    <%= correspondence.other_names %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= correspondence.photo %>
  </p>

  <p>
    <strong>Teachers remark:</strong>
    <%= correspondence.teachers_remark %>
  </p>

</div>
