<div class="main dashboard">
    <p style="color: green"><%= notice %></p>

    <h1>Dashboards</h1>
    <div class="dashboard">
    
    <div class="report" style="background-color: green">
        <div class="report_count_cont">
            <h2><%= staff_count %></h2>
            <p>Total Number of Staff</p>
        </div>
        <i class="fas fa-user"></i>
    </div>

    <div class="report" style="background-color: blue">
        <div class="report_count_cont">
            <h2><%= student_count %></h2>
            <p>Total Number of Students</p>
            </div>
        <i class="fas fa-user"></i>
    </div>

    <div class="report" style="background-color: red">
        <div class="report_count_cont">
            <h2><%= revenue_count %></h2>
            <p>Total Revenue</p>
            </div>
        <i class="fas fa-user"></i>
    </div>

    <div class="report" style="background-color: orange">
        <div class="report_count_cont">
            <h2><%= classroom_count %></h2>
            <p>Classes</p>
            </div>
        <i class="fas fa-user"></i>
    </div>

    <div class="report" style="background-color: purple">
        <div class="report_count_cont">
            <h2><%= visitor_count %></h2>
            <p>Visitors Count</p>
            </div>
        <i class="fas fa-user"></i>
    </div>
</div>
<div  class="revenue_dashboard" >
<div class="revenue_report" style="background-color: grey">
    <i class="fas fa-user"></i><br>
    <p>Total Revenue Generated</p><br>
    <div class="revenue_report_count_cont">
        <div>
            <%= label_tag :search_type, "By Month" %>
            <%= select_tag :search_type, options_for_select(["January", "Febraury", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], params[:search_type]), include_blank: false, onchange: "this.form.submit();", style: "width: 100%; height: 30px;"  %>
        </div>
        <div>
            <%= label_tag :search_type, "By Year" %>
            <%= select_tag :search_type, options_for_select(["2021", "2022", "2023"], params[:search_type]), include_blank: false, onchange: "this.form.submit();", style: "width: 100%; height: 30px;"  %>
        </div>
   </div>
    <h2><%= visitor_count %></h2>
</div>

<div class="revenue_report" style="background-color: grey">
    <i class="fas fa-user"></i><br>
    <p>Percentage Revenue Perfomance</p><br>
    <div class="revenue_report_count_cont">
        <div>
            <%= label_tag :search_type, "By Month" %>
            <%= select_tag :search_type, options_for_select(["January", "Febraury", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], params[:search_type]), include_blank: false, onchange: "this.form.submit();", style: "width: 100%; height: 30px;"  %>
        </div>
        <div>
            <%= label_tag :search_type, "By Year" %>
            <%= select_tag :search_type, options_for_select(["2021", "2022", "2023"], params[:search_type]), include_blank: false, onchange: "this.form.submit();", style: "width: 100%; height: 30px;"  %>
        </div>
   </div>
    <h2><%= visitor_count %></h2>
</div>




</div>