<%= form_with(model: @parent) do |form| %>
  <% if @parent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
        <% @parent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div  class="add_parent_form">
  <h2>Parent/Guardian Information</h2><br>
  <div class="grid_container">
          <div>
            <%= form.label :photo, style: "display: block" %>
            <%= form.file_field :photo %>
          </div>
  
          <div class="grid_item">
            <%= form.label :relationship_to_applicant, "Relationship with applicant *", style: "display: block" %>
            <%= form.text_field :relationship_with_applicant, required: true %>
          </div>
  
          <div class="grid_item">
            <%= form.label :title, "Title (Mr/Mrs/Ms/Dr/etc) *", style: "display: block" %>
            <%= form.text_field :title, required: true %>
          </div>
  
          <div class="grid_item">
            <%= form.label :full_name, "Full Name *", style: "display: block" %>
            <%= form.text_field :full_name, required: true %>
          </div>
  
          <div class="grid_item">
            <%= form.label :country_of_birth, "Country/City of Birth *", style: "display: block" %>
            <%= form.text_field :country_of_birth, required: true %>
          </div>
  
          <div class="grid_item">
            <%= form.label :date_of_birth, "Date of Birth *", style: "display: block" %>
            <%= form.date_field :date_of_birth %>
          </div>
    
          <div class="grid_item">
            <%= form.label :nationality, "Nationality *", style: "display: block" %>
            <%= form.text_field :nationality, required: true %>
          </div>
  
          <div class="grid_item">
            <%= form.label :home_address, "Home Address *", style: "display: block" %>
            <%= form.text_area :home_address, required: true %>
          </div>
  
          <div class="grid_item">
            <%= form.label :mailing_addres, "Mailing Address *", style: "display: block" %>
            <%= form.text_area :mailing_address_parent1, required: true %>
          </div>
  
          <div class="grid_item">
            <%= form.label :occupation, "Occupation *", style: "display: block" %>
            <%= form.text_field :occupation %>
          </div>
  
          <div class="grid_item">
            <%= form.label :mobile_phone_number, "Mobile Phone Number *", style: "display: block" %>
            <%= form.text_field :mobile_phone_number %>
          </div>
  
          <div class="grid_item">
            <%= form.label :employer_name, "Employer’s Name *", style: "display: block" %>
            <%= form.text_field :employer_name %>
          </div>
  
          <div class="grid_item">
            <%= form.label :employer_address, "Employer’s Address *", style: "display: block" %>
            <%= form.text_area :employer_address %>
          </div>
  
          <div class="grid_item">
            <%= form.label :work_telephone_number, "Work Telephone Number *", style: "display: block" %>
            <%= form.text_field :work_telephone_number%>
          </div>
  
          <div class="grid_item">
            <%= form.label :email, "Email Address *", style: "display: block" %>
            <%= form.email_field :parent_email, required: true %>
          </div>      
        </div>
        <!-- Close button for the form -->
        <button type="button" class="close-parent-form">Close</button>

        <div>
        <%= form.submit "Submit" %>
     </div>

      </div>
  
<% end %>
