<div id="<%= dom_id parent %>">
  <p>
    <strong>Photo:</strong>
    <%= parent.photo %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= parent.title %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= parent.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= parent.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= parent.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= parent.phone %>
  </p>

  <p>
    <strong>Dateofbirth:</strong>
    <%= parent.dateofbirth %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= parent.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= parent.state %>
  </p>

  <p>
    <strong>Lga:</strong>
    <%= parent.lga %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= parent.street %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= parent.occupation %>
  </p>

</div>
