<div class="main">
  <p style="color: green"><%= notice %></p>

  <table class="admission_table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Full Name</th>
        <th>Date of Birth</th>
        <th>Reg No</th>
        <th>Class</th>
        <th>Admission Date</th>
        <th>Admission Status</th>
        <th>Actions</th> <!-- Add a column for actions -->
      </tr>
    </thead>
    <tbody>
      <% @admissions.each do |admission| %>
        <tr>
          <td>  
            <p>
              <% if admission.photo.attached? %>
                <%= image_tag admission.photo, class: 'image_thumbnail' %>
              <% else %>
                <i class="fas fa-user image_thumbnail"></i>
              <% end %>
            </p>
          </td>

          <td>  
            <p>
              <%= "#{admission.firstname} #{admission.lastname}" %>
            </p>
          </td>

          <td>  
            <p>
              <%= admission.date_of_birth %>
            </p>
          </td>

          <td>
            <p>
              <%= admission.reg_number %>
            </p>
          </td>

          <td>
            <p>
              <%= admission.class %>
            </p>
          </td>

          <td>
            <p>
              <%= admission.admission_date %>
            </p>
          </td>

          <td>
            <p>
              <% if admission.admission_status.present? %>
                <%= @admission.admission_status %>
              <% else %>
                Unconfirmed Admission
              <% end %>
            </p>
          
          </td>

          <td>
            <div class="record-container">
              <i class="fas fa-ellipsis-h ellips"></i>
              <div class="ellips_popup" style="display: none;" >
                <p>Confirm Admission</p> 
                <%= link_to "See Details", admission %> <br> <br>
                <%= button_to "Remove", admission, method: :delete %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

