<div id="<%= dom_id admission %>">
  <p>
    <strong>Firstname:</strong>
    <%= admission.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= admission.lastname %>
  </p>

  <p>
    <strong>Other names:</strong>
    <%= admission.other_names %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= admission.date_of_birth %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= admission.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= admission.state %>
  </p>

  <p>
    <strong>Lga:</strong>
    <%= admission.lga %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= admission.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admission.email %>
  </p>

  <p>
    <strong>Transcript:</strong>
    <%= admission.transcript %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= admission.photo %>
  </p>

</div>
