<div>
<%= form_with(model: @admission, url: new_admission_path, html: { multipart: true }) do |form| %>
    <% if admission.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

        <ul>
          <% admission.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      
    <h2>New Student</h2>
    <div class="grid_container">  
      <div class="grid_item">
        <%= form.label :admission_date, "Application Date *", style: "display: block" %>
        <%= form.date_field :admission_date %>
      </div>


      <div class="grid_item">
        <%= form.label :grade_level, "Applying For ?" , style: "display: block"%>
        <%= form.select :grade_level, ["Creche","Prenursery","Nursery 1","Nursery 2","Nursery 3","Grade 1","Grade 2","Grade 3","Grade 4","Grade 5","Grade 6"], prompt: "Select an option", required: true, style: "display: block" %>
      </div>

      <div class="grid_item">
        <%= form.label :firstname, style: "display: block" %>
        <%= form.text_field :firstname %>
      </div>

      <div class="grid_item">
        <%= form.label :lastname, style: "display: block" %>
        <%= form.text_field :lastname %>
      </div>

      <div class="grid_item">
        <%= form.label :other_names, style: "display: block" %>
        <%= form.text_field :other_names %>
      </div>

      <div class="grid_item">
        <%= form.label :gender, "Gender", style: "display: block" %>
        <div class="grid_item row_maker">
          <%= form.label :gender, "Male" %>
          <%= form.radio_button :gender, "Male" %>
          <%= form.label :gender, "Female" %>
          <%= form.radio_button :gender, "Female" %>
        </div>
      </div>
     
      <div class="grid_item">
        <%= form.label :date_of_birth, "Date of Birth *", style: "display: block" %>
        <%= form.date_field :date_of_birth %>
      </div>

      <div class="grid_item">
        <%= form.label :country, style: "display: block" %>
        <%= form.text_field :country %>
      </div>

      <div class="grid_item">
        <%= form.label :state, style: "display: block" %>
        <%= form.text_field :state %>
      </div>

      <div class="grid_item">
        <%= form.label :lga, style: "display: block" %>
        <%= form.text_field :lga %>
      </div>

      <div class="grid_item">
        <%= form.label :phone, style: "display: block" %>
        <%= form.text_field :phone %>
      </div>

      <div class="grid_item">
        <%= form.label :email, style: "display: block" %>
        <%= form.text_field :email %>
      </div>

      <div class="grid_item">
        <%= form.label :photo, style: "display: block" %>
        <%= form.file_field :photo %>
      </div><br>

      <div class="grid_item">
        <%= form.label :primary_language, "Primary Language", style: "display: block" %>
        <%= form.text_field :primary_language, required: true %>
      </div>

      <div class="grid_item">
        <%= form.label :other_languages, "Other Languages", style: "display: block" %>
        <%= form.text_field :other_languages %>
      </div>

      <div class="grid_item">
        <%= form.label :religion, "Religion", style: "display: block" %>
        <%= form.text_field :religion, required: true %>
      </div>

      <div class="grid_item">
        <%= form.label :current_school_name, "Current School Name", style: "display: block" %>
        <%= form.text_field :current_school_name %>
      </div>

      <div class="grid_item">
        <%= form.label :current_class_year, "Current Class", style: "display: block" %>
        <%= form.text_field :current_class_year %>
      </div>

      <div class="grid_item">
        <%= form.label :type_of_school, "Type Of School", style: "display: block" %>
        <%= form.select :type_of_school, ["Private"], prompt: "Select an option" %>
      </div>

      <div class="grid_item">
        <%= form.label :transcript, style: "display: block" %>
        <%= form.file_field :transcript %>
      </div>

      <div class="grid_item">
        <%= form.label :current_school_address, "Current School Address", style: "display: block" %>
        <%= form.text_area :current_school_address %>
      </div>

    </div>

    <div id="parent_forms_container">
     
    </div>

  <div>
    <%= button_tag 'Add Parent/Guardian', id: 'add_parent_button', type: 'button' %> <br>
  </div><br>

  <div>
    <%= form.submit %>
  </div>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var parentFormsContainer = document.getElementById('parent_forms_container');
    var addParentButton = document.getElementById('add_parent_button');

    addParentButton.addEventListener('click', function() {
      // Clone the parent/guardian form structure and increment the index
      var parentFormIndex = parentFormsContainer.querySelectorAll('.add_parent_form').length;

      // Create a new "add_parent_form" div
      var newParentForm = document.createElement('div');
      newParentForm.classList.add('add_parent_form'); // Add the "add_parent_form" class
      
      // Add the parent/guardian form fields to the new div
      newParentForm.innerHTML = `
      <div  class="add_parent_form">
            
        <h2>Parent/Guardian Information</h2><br>
        <div class="grid_container">
          <div>
            <%= form.label :p_photo, style: "display: block" %>
            <%= form.file_field :p_photo %>
          </div>
            
          <div class="grid_item">
            <%= form.label :relationship_to_applicant, "Relationship with applicant *", style: "display: block" %>
            <%= form.text_field :relationship_with_applicant, required: true %>
          </div>
            
          <div class="grid_item">
            <%= form.label :p_title, "Title (Mr/Mrs/Ms/Dr/etc) *", style: "display: block" %>
            <%= form.text_field :p_title, required: true %>
          </div>
              
          <div class="grid_item">
            <%= form.label :p_full_name, "Full Name *", style: "display: block" %>
            <%= form.text_field :p_full_name, required: true %>
          </div>
            
          <div class="grid_item">
            <%= form.label :p_country_of_birth, "Country/City of Birth *", style: "display: block" %>
            <%= form.text_field :p_country_of_birth, required: true %>
          </div>
            
          <div class="grid_item">
            <%= form.label :p_date_of_birth, "Date of Birth *", style: "display: block" %>
            <%= form.date_field :p_date_of_birth %>
          </div>
              
          <div class="grid_item">
            <%= form.label :p_nationality, "Nationality *", style: "display: block" %>
            <%= form.text_field :p_nationality, required: true %>
          </div>
            
          <div class="grid_item">
            <%= form.label :p_home_address, "Home Address *", style: "display: block" %>
            <%= form.text_area :p_home_address, required: true %>
          </div>
            
          <div class="grid_item">
            <%= form.label :p_mailing_addres, "Mailing Address *", style: "display: block" %>
            <%= form.text_area :p_mailing_address, required: true %>
          </div>
            
          <div class="grid_item">
            <%= form.label :p_occupation, "Occupation *", style: "display: block" %>
            <%= form.text_field :p_occupation %>
          </div>
            
          <div class="grid_item">
            <%= form.label :p_mobile_phone_number, "Mobile Phone Number *", style: "display: block" %>
            <%= form.text_field :p_mobile_phone_number %>
          </div>
            
          <div class="grid_item">
            <%= form.label :p_employer_name, "Employer’s Name *", style: "display: block" %>
            <%= form.text_field :p_employer_name %>
          </div>
            
          <div class="grid_item">
            <%= form.label :p_employer_address, "Employer’s Address *", style: "display: block" %>
            <%= form.text_area :p_employer_address %>
          </div>
            
          <div class="grid_item">
            <%= form.label :p_work_telephone_number, "Work Telephone Number *", style: "display: block" %>
            <%= form.text_field :p_work_telephone_number%>
          </div>
            
          <div class="grid_item">
            <%= form.label :p_email, "Email Address *", style: "display: block" %>
            <%= form.email_field :p_email, required: true %>
          </div>    

        </div>

          <div>
            <!-- Close button for the form -->
            <button type="button" class="close-parent-form">Close</button>   
          </div>
      </div>
      `;

      parentFormsContainer.appendChild(newParentForm);

      // Add an event listener to the close button
      var closeButtons = newParentForm.querySelectorAll('.close-parent-form');
      closeButtons.forEach(function(closeButton) {
        closeButton.addEventListener('click', function() {
          // Remove the parent/guardian form when the close button is clicked
          parentFormsContainer.removeChild(newParentForm);
        });
      });
    });
  });
</script>
  <% end %>
</div>