<div id="<%= dom_id exam %>">
  <p>
    <strong>Term:</strong>
    <%= exam.term %>
  </p>

  <p>
    <strong>Session:</strong>
    <%= exam.session %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= exam.class %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= exam.question %>
  </p>

  <p>
    <strong>Option:</strong>
    <%= exam.option %>
  </p>

</div>
