<div id="<%= dom_id test %>">
  <p>
    <strong>Term:</strong>
    <%= test.term %>
  </p>

  <p>
    <strong>Session:</strong>
    <%= test.session %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= test.class %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= test.question %>
  </p>

  <p>
    <strong>Option:</strong>
    <%= test.option %>
  </p>

</div>
