<% if current_staff.present? %>
  <!-- Display content for logged-in staff -->
  <p>Welcome, <%= current_staff.firstname %></p>
<% else %>
  <!-- Display content for non-logged-in users -->
  <p>Please log in to access this content.</p>
<% end %>

<div class="attendance_index_cont">
  <h1>Class Attendance</h1>
  <div class="new_btn_cont">
    <%= link_to "New attendance", new_attendance_path, class: 'new_btn' %>
  </div>

  <div>
    <div>
      <% if @students.present? %>
        <table class="classroom_table">
          <thead>
            <tr>
              <th colspan="2">Student Name</th>
              <th>Presence</th>
              <th>Health Condition</th>
              <th>Arrival Time</th>
              <th>Departure Time</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
              <tr>
                <td colspan="2">
                  <%= "#{student.fullname}" if student.present? %>
                </td>
                  <td><%= attendance.presence ? 'Present' : 'Absent' %></td>
                  <td><%= attendance.health_condition %></td>
                  <td><%= attendance.arrival_time ? attendance.arrival_time.strftime("%I:%M %p") : 'Not Available' %></td>
                  <td><%= attendance.departure_time ? attendance.departure_time.strftime("%I:%M %p") : 'Not Available' %></td>
                  <td>
                    <div class="edit_delete_cont">
                      <%= link_to edit_attendance_path(attendance) do %>
                        <i class="fas fa-edit"></i> <!-- Edit icon -->
                      <% end %>

                      <%= link_to attendance, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fas fa-trash"></i> <!-- Delete icon -->
                      <% end %>
                    </div>
                  </td>
              </tr>
              <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No attendances to display.</p>
      <% end %>
    </div>
  </div>
</div>
