<div id="<%= dom_id attendance %>">
  <p>
    <strong>Firstname:</strong>
    <%= attendance.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= attendance.lastname %>
  </p>

  <p>
    <strong>Other names:</strong>
    <%= attendance.other_names %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= attendance.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= attendance.email %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= attendance.photo %>
  </p>

</div>
