<div id="<%= dom_id report %>">
  <p>
    <strong>Firstname:</strong>
    <%= report.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= report.lastname %>
  </p>

  <p>
    <strong>Other names:</strong>
    <%= report.other_names %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= report.photo %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= report.type %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= report.class %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= report.term %>
  </p>

  <p>
    <strong>Academic session:</strong>
    <%= report.academic_session %>
  </p>

</div>
