<!DOCTYPE html>
<html>
  <head>
    <title>SDBMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="body">
      <% if user_signed_in? %>
      <div class="user_nav">
        <div class="logo">
          <i class="fas fa-users" style="font-size: 2.51em; color:blue;"></i>
          <i class="fas fa-list" style="font-size: 1.1em;"></i>
        </div>

        <div class="user">
          <% if current_user.photo.attached? %>
            <%= image_tag current_user.photo, class: 'user_photo' %>
          <% else %>
            <!-- Provide a placeholder image or default user icon -->
            <i class="fas fa-user user_photo"></i>
          <% end %>
          <span class="user_email_drop"><%= current_user.email %></span>
        </div>
      </div>
      <% end %>

    <div id="logout">
      <i class="fas fa-edit edit_icon"></i>
      <%= link_to 'Edit Profile', edit_user_registration_path, class: 'edit_profile' %>
      <i class="fas fa-sign-out-alt " style="color: red;">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %></i>
    </div>


    <div class="nav_main">
        <% if user_signed_in? %>
        <div id="nav">
        <ul class="menu">
          <li class="menu-item">
          <i class="fas fa-chart-bar"></i>
          <%= link_to 'Dashboard', dashboard_home_screen_path %></li></li>
          <li class="menu-item menu-parent">
          <i class="fas fa-users"></i>
          <a href="#">Human Resource </a>
            <span class="menu-parent-arrow"></span>
            <ul class="menu-subitems">
              <li><%= link_to 'Staff', staffs_path %></li>
              <li><%= link_to 'Student', students_path %></li>
              <li><%= link_to 'Parent', parents_path %></li>
              <li><%= link_to 'Recruitment', recruitments_path %></li>
              <li><%= link_to 'Admissions', admissions_path %></li>
              <li><%= link_to 'Attendance', attendances_path %></li>
          </ul>
                  </li>
          <li class="menu-item menu-parent">
          <i class="fas fa-building"></i>
          <a href="#">Class Management </a>
            <span class="menu-parent-arrow"></span>
            <ul class="menu-subitems">
              <li><%= link_to 'Classrooms', classrooms_path %></li>
              <li><%= link_to 'Subjects', subjects_path %></li>
              <li><%= link_to 'Textbooks', textbooks_path %></li>
              <li><%= link_to 'Attendance', attendances_path %></li>
              <li><%= link_to 'Correspondence', correspondences_path %></li>
              <li><%= link_to 'Homework', homeworks_path %></li>
          </ul>
                  </li>
          <li class="menu-item menu-parent">
          <i class="fas fa-flask"></i>
          <a href="#">Exams</a>
            <span class="menu-parent-arrow"></span>
            <ul class="menu-subitems">
              <li><%= link_to 'Grades', grades_path %></li>
              <li><%= link_to 'Assessments', assessments_path %></li>
              <li><%= link_to 'Results', results_path %></li>
              <li><%= link_to 'Reports', reports_path %></li>
          </ul>
                  </li>
          <li class="menu-item menu-parent">
          <i class="fas fa-calculator"></i>
          <a href="#">Accounting</a>
          <span class="menu-parent-arrow"></span>
          <ul class="menu-subitems">
            <li><%= link_to 'Inventory', inventories_path %></li>
            <li><%= link_to 'Fees', fees_path %></li>
            <li><%= link_to 'Miscellaneous Expenditures', expenditures_path %></li>
            <li><%= link_to 'Revenues', revenues_path %></li>
            <li><%= link_to 'Salary', salaries_path %></li>
          </ul>
                </li>
          <li class="menu-item menu-parent">
          <i class="fas fa-desktop"></i>
          <a href="#">Frontdesk</a>
          <span class="menu-parent-arrow"></span>
          <ul class="menu-subitems">
            <li><%= link_to 'Visitors', visitors_path %></li>
            <li><%= link_to 'Events', events_path %></li>
            <li>SMS</li>
        </ul>
                </li>
          <li class="menu-item menu-parent">
          <i class="fas fa-cogs"></i>
          <a href="#">Settings</a>
          <span class="menu-parent-arrow"></span>
          <ul class="menu-subitems">
            <li><%= link_to 'Manage School', manage_schools_path %></li>
          </ul>
                </li>
          <li class="menu-item menu-parent">
            <i class="fas fa-graduation-cap"></i>
            <%= link_to 'Students Portal', students_portal_path %>
          </li>
          <li class="menu-item menu-parent">
            <i class="fas fa-door-open"></i>
            <%= link_to "Parent's Portal", parents_portal_path %>
          </li>
        </ul>  
        </div>
        <% end %>





        <div class="yield">
          <%= yield %>
        </div>
    </div>

  </body>
</html>

