<!DOCTYPE html>
<html>
  <head>
    <title>SDBMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div id="nav">
  App Navigation
  <ul class="menu">
    <li class="menu-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="menu-item menu-parent">
      <a href="#">Schools  <span class="arrow">&rarr;</span></a>
      <ul class="menu-subitems">
        <li><a href="#">Manage Schools</a></li>
      </ul>
    </li>
    <li class="menu-item menu-parent">
      <a href="#">Schools  <span class="arrow">&rarr;</span></a>
      <ul class="menu-subitems">
        <li><a href="#">Manage Schools</a></li>
      </ul>
    </li>
    <li class="menu-item menu-parent">
      <a href="#">Schools  <span class="arrow">&rarr;</span></a>
    <ul class="menu-subitems">
        <li><a href="#">Manage Schools</a></li>
      </ul>
    </li>
    <li class="menu-item menu-parent">
      <a href="#">Schools  <span class="arrow">&rarr;</span></a>
      <ul class="menu-subitems">
        <li><a href="#">Manage Schools</a></li>
      </ul>
    </li>
    <li class="menu-item menu-parent">
    <a href="#">Schools  <span class="arrow">&rarr;</span></a>

      <ul class="menu-subitems">
        <li><a href="#">Manage Schools</a></li>
      </ul>
    </li>
  </ul>  
</div>
    <%= yield %>
  </body>
</html>
