<!DOCTYPE html>
<html>
  <head>
    <title>SDBMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="body">
    <div id="nav" class="sidebar">

    <div class="logo">
      <i class="fas fa-users"></i>
    </div>

      <ul class="menu">
        <li class="menu-item">
        <i class="fas fa-chart-bar"></i>
        <a href="#">Dashboard</a>
        </li>
        <li class="menu-item menu-parent">
        <i class="fas fa-users"></i>
        <a href="#">Human Resource </a>
          <span class="menu-parent-arrow"></span>
          <ul class="menu-subitems">
          <li><a href="#">Staff </a></li>
          <li><a href="#">Student </a></li>
          <li><a href="#">Parent </a></li>
          <li><a href="#">Recruitment </a></li>
          <li><a href="#">Admissions </a></li>
          <li><a href="#">Attendance </a></li>
          </ul>
        </li>
        <li class="menu-item menu-parent">
        <i class="fas fa-building"></i>
        <a href="#">Class Management </a>
          <span class="menu-parent-arrow"></span>
          <ul class="menu-subitems">
          <li><a href="#">Classrooms</a></li>
          <li><a href="#">Subjects</a></li>
          <li><a href="#">Textbooks</a></li>
          <li><a href="#">Attendance</a></li>
          <li><a href="#">Corresspondence</a></li>
          <li><a href="#">Homefun</a></li>
          </ul>
        </li>
        <li class="menu-item menu-parent">
        <i class="fas fa-flask"></i>
        <a href="#">Exams</a>
          <span class="menu-parent-arrow"></span>
          <ul class="menu-subitems">
          <li><a href="#">Grades</a></li>
          <li><a href="#">Assessments</a></li>
          <li><a href="#">Results</a></li>
          <li><a href="#">Reports</a></li>
          </ul>
        </li>
        <li class="menu-item menu-parent">
        <i class="fas fa-calculator"></i>
        <a href="#">Accounting</a>
        <span class="menu-parent-arrow"></span>
          <ul class="menu-subitems">
          <li><a href="#">Inventory</a></li>
          <li><a href="#">Fees</a></li>
          <li><a href="#">Miscelenous Expenditures</a></li>
          <li><a href="#">Miscelenous Revenues</a></li>
          <li><a href="#">Salary</a></li>
          </ul>
        </li>
        <li class="menu-item menu-parent">
        <i class="fas fa-desktop"></i>
        <a href="#">Frontdesk</a>
        <span class="menu-parent-arrow"></span>
          <ul class="menu-subitems">
          <li><a href="#">Visitors</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">SMS</a></li>
          </ul>
        </li>
        <li class="menu-item menu-parent">
        <i class="fas fa-cogs"></i>
        <a href="#">Settings</a>
        <span class="menu-parent-arrow"></span>
          <ul class="menu-subitems">
          <li><a href="#">Manage School</a></li>
          <li><a href="#">Fees Management</a></li>
          </ul>
        </li>
        <li class="menu-item menu-parent">
          <i class="fas fa-graduation-cap"></i>
          <a href="#">Students Portal</a>
        </li>
        <li class="menu-item menu-parent">
          <i class="fas fa-door-open"></i>
          <a href="#">Parents Portal</a>
        </li>
      </ul>  
    </div>

    <div class="user_nav header">
      <i class="fas fa-user"></i>
      </div><br>
    <%= yield %>
  </body>
</html>


